@import "tailwindcss";

@theme {
  --color-accent: #A100FF;
  --color-accent-hover: #A100FF;
  /* --color-accent-hover: #0096FF; */
  --color-bg: #FFFFFF;
  --color-surface: #F5F5F5;
  --color-surface-muted: #F5F5F5;
  --color-text: #000000;
  --color-text-muted: #6F6F6F;
  --color-border: #E6E6E6;
  --color-ink: #1A1A1A;
  --color-success: #1DB954;
  --color-warning: #FFB020;
  --color-error: #E5484D;
  --color-info: #3B82F6;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}